<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Books Aren't Dead.com</title>
        <meta charset="utf-8">
        <link rel = "stylesheet" href="Style/main.css">
        <script src="js/react.js"></script>
        <script src="js/react-dom.js"></script>
        <script src="js/navbar.js"></script>
        <link rel="stylesheet" type="text/css" href="./Style/main.css" />
        <link rel="stylesheet" type="text/css" href="./Style/nav-bar.css" />
    </head>
<body>
        <nav>
            <ul>
                <li><a href="index.php" id="navbar">Home</a></li>
                <li><a href="new-releases.php" id="navbar">New Releases</a></li>
                <li><a href="newsletter.php" id="navbar">Newsletter</a></li>
                <li><a href="best-sellers.php" id="navbar">Best Sellers</a></li>
                <li><a href="recommend.php" id="navbar">Recommendations</a></li>
                <li><a href="login.php" id="navbar">Login</a></li>
                <li><a href="sign-up.php" id="navbar">sign-up</a></li>
            </ul>
            
         </nav>  
</body>
</html>