<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Books Aren't Dead.com</title>
        <meta charset="utf-8">
        <link rel = "stylesheet" href="Style/main.css">
        <script src="js/react.js"></script>
        <script src="js/react-dom.js"></script>
        <script src="js/navbar.js"></script>
        <link rel="stylesheet" type="text/css" href="./Style/main.css" />
        <link rel="stylesheet" type="text/css" href="./Style/nav-bar.css" />
    </head>
<body>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="new-releases.html">New Releases</a></li>
                <li><a href="newsletter.html">Newsletter</a></li>
                <li><a href="best-sellers.html">Best Sellers</a></li>
                <li><a href="recommend.html">Recommendations</a></li>
            </ul>
            
         </nav>  
</body>
</html>