<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Books Aren't Dead.com</title>
        <meta charset="utf-8">
        <link rel = "stylesheet" href="Style/main.css">
        <script src="js/react.js"></script>
        <script src="js/react-dom.js"></script>
        <script src="js/navbar.js"></script>
        <link rel="stylesheet" type="text/css" href="./Style/main.css" />
        <link rel="stylesheet" type="text/css" href="./Style/nav-bar.css" />
    </head>
    <header>
        <h1>Books Aren't Dead!</h1>
        <form id="login" action="login.php" method="post">
            <label for="userName">username: </label>
            <input type="text" is="userName" name="userName"><br>
            <label for="user_Password">password: </label>
            <input type="password" id="user_Password" name="user_Password"><br>
            <br>
            <input type="submit" value="Login">
        </form>
        <button onclick="window.location.href = 'sign-up.php';">sign-up</button>
        
    </header>
    
    </html>